*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: rgb(105, 53, 53);
}

nav p{
    color: white;
    font-size: 75%;
    font-weight: 600;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}